input {
  display: none;
}

nav {
  background-color: $yellow;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow-y: none;
  z-index: 10;

  @include desktop {
    background-color: $transparent;
    position: static;
  }
}

nav ul {
  margin: 2rem;
  list-style-type: none;
  text-align: left;

  @include desktop {
    position: absolute;
    top: -1rem;
    right: 0;
  }
}

nav ul li {
  @include desktop {
    display: inline;
    margin-left: 1.5rem;
  }
}

nav a {
  color: $white;
  font-size: 3em;

  @include desktop {
    font-size: 2em;
    font-weight: $subhead-weight;
  }
}

nav label {
  display: block;
  width: 33.33%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;

  @include tablet {
    width: 10rem;
  }

  @include desktop {
    display: none;
  }
}

.menu-controller-checkbox ~ nav { transition: left .666s ease; }

.menu-controller-checkbox:checked ~ nav { left: 0; }
