body {
  font-family: $font;
  font-size: 16px;
  color: $black;
}

h1 {
  font-weight: $header-weight;
  font-size: 28vw;
  line-height: .8;
}

p, a {
  font-weight: $copy-weight;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  width: 100%;
}

a.menubttn, a.homebttn {
  position: absolute;
  top: 1rem;
  color: $white;
  font-size: 1.5em;
  font-weight: $header-weight;
}

a.menubttn {
  left: 1rem;
}

a.homebttn {
  right: 1rem;
}

nav {
  background-color: $yellow;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow-y: none;
}

nav ul {
  margin: 2rem;
  list-style-type: none;
}

nav a {
  color: $white;
  font-size: 3em;
}

nav img {
  display: block;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 33.33%;
}
