body {
  font-family: $font;
}

header label, header a, nav a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
}

label.menubttn, a.homebttn {
  font-size: 6vw;
  font-weight: $header-weight;
}

h1 {
  font-family: $decorative-font;
  text-transform: uppercase;
  color: $white;
  font-size: 6vw;
  margin-top: 3vw;
}

h2.sequence-bttn {
  text-align: right;
  padding-right: 3vw;
  font-size: 18vw;
  margin-bottom: 3rem;
}

a.sequence-bttn {
  color: $black;
  text-decoration: none;
}

h2 {
  font-size: 10vw;
}

h3 {
  margin: 2rem 0 1rem 0;
  font-size: 7vw;
  font-weight: $subhead-weight;
  border-bottom: 1px solid $black;
}

h4 {
  font-size: 5vw;
  margin-top: 2rem;
}

h5 {
  font-size: 4vw;
}

h6 {
  font-size: 3vw;
  color: $orange;
}

ul {
  margin: .5rem 0 1rem 0;
}

p {
  font-weight: $copy-weight;
  margin: .5rem 0 1rem 0;
  line-height: 1.4;
}

div.skills p {
  margin: 0;
}

i {
  margin-right: 1rem;
}

h2.sequence-bttn i {
  margin: 0;
}

div.contact .fa-mobile, div.contact .fa-linkedin-square {
  font-size: 1.5em;
}
