$black: #111;
$yellow: #FFDC00;
$white: #fff;
$orange: #FF851B;
$transparent: HSLA(192, 100%, 8%, 0.0);

$font: 'Rubik', Helvetica, sans-serif;
$decorative-font: 'Bungee Shade', cursive;

$header-weight: 700;
$subhead-weight: 400;
$copy-weight: 300;

$tablet-width: "screen and (min-width: 481px)";
$desktop-width: "screen and (min-width: 1000px)";


@mixin tablet {
  @media #{$tablet-width} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop-width} {
    @content;
  }
}
